<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081239849482-2a38fjh12drhgrku9uat15c5l4bl0quh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081239849482-2a38fjh12drhgrku9uat15c5l4bl0quh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081239849482-f0jqc0orfs1h1737oi8fljd7rlbp6sd1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9qLiQj9b0gFeQJ3TYYtJ3PEf1MTUreeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1081239849482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.kronk.kronk</string>
	<key>PROJECT_ID</key>
	<string>kronk-production</string>
	<key>STORAGE_BUCKET</key>
	<string>kronk-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081239849482:ios:5e493295a3a90d6b4b2df3</string>
</dict>
</plist>